<html>
<head>
    <title>Bank</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }


    </style>
</head>
<body>
<div>
    <h2>Create Account</h2>
    <form method="POST" action="/">
        <input type="submit" id="create-account" value="Create">
    </form>
    <h2>Bank Accounts</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#accounts}}
            <tr>
                <td>{{id}}</td>
                <td>{{balance}}</td>
                <td>
                    <form method="POST" action="/{{id}}/deposit">
                        <input type="number" id="amount" name="amount"/>
                        <button id="deposit">Deposit</button>
                    </form>
                </td>
            </tr>
        {{/accounts}}
        </tbody>
    </table>
</div>
</body>
</html>